<section class="target-selection">
    <div class="gray">
        <header>
            <h1>Select Target</h1>
        </header>
        <div class="inputs-share">
            <div>
                <p>
                    Full Name:
                </p>
                <input #a (keyup.enter)="moveFocus(c)" [value]="facebook" [(ngModel)]="fullName" type="text">
            </div>
            <div>
                <p>
                    Email:
                </p>
                <input #c [value]="email" [(ngModel)]="email" type="email">
            </div>
            <button #e (click)="onSave()"> Save</button>
        </div>

    </div>
</section>
