<section class="target-selection">

    <header>
        <ion-icon size="large" (click)="onBackPressed()" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
        <p>Select Target</p>
        <button class="menuBtn" mat-button [matMenuTriggerFor]="menu" style="">
            <span>⋮</span>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
        </mat-menu>
    </header>
    <div class="target-list" *ngIf="shootingService.targets; else noTargets">
        <div (click)="onTargetChosen(target)" routerLink="/home/tabs/tab2/select2" class="target-wrapper"
             *ngFor="let target of shootingService.targets">
            <img src="../../assets/icons/bullseye_red.png">
            <p style="color:black;font-size: 18px;font-weight: bold"> {{target}}</p>
        </div>
        <div>
            <button class="startSessionBtn"> Start Session!</button>
        </div>
    </div>
    <ng-template #noTargets>
        <div class="noConnection">
            <p>No Targets Found Please Check Your Connection</p>
            <img src="../../../assets/images/bg/broken-weapon.svg">
        </div>
    </ng-template>


</section>


