<section class="dashboard">
    <header>
        <div class="personal-titles">
            <p *ngIf="profile" class="name">{{profile.name}}</p>
            <p *ngIf="!profile" class="name">John Smith</p>
            <p>M-4</p>
        </div>


        <div class="personal-widget">
            <div class="points">
                <span class="amount">180</span>
                <p>points</p>
            </div>
            <div class="avatar">
                <img *ngIf="profile &&  profile.picture_small" class="avatar" [src]="profile.picture_small.data.url"
                     alt="avatar">
                <img *ngIf="!profile || !profile.picture_small" class="avatar" src="../../assets/avatar.svg"
                     alt="avatar">
                <!--                <img class="avatar" src="../../assets/evi.png" alt="avatar">-->
            </div>
            <div class="place">
                <span class="amount">3rd</span>
                <p>place</p>
            </div>
        </div>

    </header>
    <div class="container-background">
        <div class="gray">
            <div class="slider-stats">
                <ion-slides [options]="options" class="slider" pager="true" style="height: 100%;    width: 100%;">
                    <ion-slide>
                        <div class="chart-and-stats">
                            <div class="stats">
                                <h1>HIT RATIO</h1>
                                <p><b>96</b>/200</p>
                            </div>

                            <div class="hitRatioChartContainer">
                                <div style="display: block;width: 100%;height:100%;">
                                    <canvas baseChart
                                            [legend]="false"
                                            [plugins]="doughnutChartPlugins"
                                            [colors]="donutColors"
                                            [data]="doughnutChartData"
                                            [labels]="doughnutChartLabels"
                                            [chartType]="doughnutChartType">
                                    </canvas>
                                </div>
                            </div>
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="chart-and-stats">
                            <div class="stats">
                                <h1>HIT RATIO</h1>
                                <p><b>96</b>/200</p>
                            </div>

                            <div class="hitRatioChartContainer" style="background-color: white"
                                 [style.height.px]="screenWdith-(screenWdith*0.5)" [style.width.px]="screenWdith">
                                <div style="display: block;width:100%">
                                    <canvas baseChart
                                            [datasets]="lineChartData"
                                            [labels]="lineChartLabels"
                                            [options]="lineChartOptions"
                                            [colors]="lineChartColors"
                                            [legend]="false"
                                            [chartType]="lineChartType"
                                            [plugins]="lineChartPlugins">
                                    </canvas>
                                </div>
                            </div>
                        </div>
                    </ion-slide>
                </ion-slides>
            </div>
            <div class="summaryContainer">
                <div class="text-container">
                    <p class="titleSummary">Longest Shoot</p>
                    <p class="valueSummary">1250yds</p>
                </div>

                <div class="text-container">
                    <p class="titleSummary">Fast Avg Split</p>
                    <p class="valueSummary">2.5</p>
                </div>


                <div class="text-container">
                    <p class="titleSummary">Best Avg Distance</p>
                    <p class="valueSummary">3CM</p>
                </div>

                <div class="text-container">
                    <p class="titleSummary">Last Shooting Session</p>
                    <p class="valueSummary">08.07.2019 Monday</p>
                </div>
            </div>
        </div>
    </div>
</section>

