<div class="topContainer">
    <div class="nameTop">
        Evi Cohen
    </div>
    <div class="weaponContainer">
        M-4
    </div>
    <div class="statsContainer">
        <div class="statsLeft">
            <div>
                180
            </div>
            <div>Points</div>
        </div>
        <div class="imgWrapper">
            <img class="avatar" src="../../assets/evi.png">
        </div>
        <div class="placeContainer">
            <div>3rd</div>
            <div>Place</div>
        </div>
    </div>
</div>
<div class="opacityContainer">

    <ion-slides class="slider" pager="true">
        <ion-slide>
            <div class="tabOne">
                <div class="hitRatioContainer">
                    <div class="hitRatioText">Hit Ratio</div>
                    <span class="hitText">96</span><span class="totalBullets">/200</span>
                </div>
                <div class="hitRatioChartContainer"
                     >
                    <ngx-charts-pie-chart
                            [scheme]="colorScheme"
                            [gradient]="true"
                            [results]="single"
                            [doughnut]="true"
                            [arcWidth]="0.4"

                    >
                    </ngx-charts-pie-chart>
                    <div class="sumPrecent">67%</div>
                </div>
            </div>
        </ion-slide>
        <ion-slide>
            <h1>Slide 2</h1>
        </ion-slide>
        <ion-slide>
            <h1>Slide 3</h1>
        </ion-slide>
    </ion-slides>
    <div class="summarContainer">
        <div class="titleSummary">Longest Shoot</div>
        <div class="valueSummary">1250yds</div>
        <div class="titleSummary">Fast Avg Split</div>
        <div class="valueSummary">2.5</div>
        <div class="titleSummary">Best Avg Distance</div>
        <div class="valueSummary">3CM</div>
        <div class="titleSummary">Last Shooting Session</div>
        <div class="valueSummary" v>08.07.2019 Monday</div>
    </div>
</div>

