<header>
    <h1> Personal Details</h1>
</header>
<section class="wrapper">
    <div class="user-img-name">
        <img src="../../assets/evi.png">
        <h5>Evi Cohen</h5>
    </div>
    <hr>
    <div class="user-details">
        <div class="read-mode">
            <div>
                <h3> Age</h3>
                <h3> Gender</h3>
                <h3> Country</h3>
                <h3> State</h3>
                <h3> Email</h3>
            </div>
            <div>
                <h3 class="value">35</h3>
                <h3 class="value">Male</h3>
                <h3 class="value">USA</h3>
                <h3 class="value">Virginia</h3>
                <h3 class="value">evic@adl.solutions</h3>
            </div>
        </div>
    </div>
    <hr>
    <div class="default-drill">
        <div>
            <img src="../../assets/icons/rifle.png">
            <h5> GUN </h5>
            <span> AR-15 , AK, Tavor</span>
        </div>
        <hr>
        <div>
            <img src="../../assets/icons/gun-shooting-target.png">
            <h5> SIGHT </h5>
            <span>Trijicon,Mapro</span>
        </div>
        <hr>
        <div>
            <img src="../../assets/icons/bullseye_red.png   ">
            <h5> TARGET </h5>
            <span>eTarget 64</span>
        </div>
    </div>
</section>

















