<header>
    <div class="personal-titles">
        <p class="name">Jack Smith Anderson</p>
        <p class="weapon">M-4</p>
    </div>
    <div class="personal-widget">
        <div class="points">
            <span class="amount">180</span>
            <p>points</p>
        </div>
        <div class="avatar">
            <h1>IA</h1>
        </div>
        <div class="place">
            <span class="amount">3rd</span>
            <p>place</p>
        </div>
    </div>
</header>
<div class="tab3-container">
    <div class="gray">

        <div class="share-continer" *ngIf="allData.length > 0; else loggedOut">
            <div class="share-continer-child" *ngFor="let item of allData">
                <div class="image-and-info">
                    <img class="img-list" alt="no image" [src]="item.url | cdvphotolibrary">
                </div>
                <div class="share-buttons">
                    <button (click)="shareEmail(item)">Email</button>
                </div>
            </div>
        </div>
        <ng-template #loggedOut>
            <div class="noData">
                <h1> No Data, Try Refreshing.</h1>
                <h6>Or Maybe You Dont Have Any Data Yet</h6>
            </div>
        </ng-template>
        <div class="settingsContainer">
            <p> Please enter ip for example: 192.168.0.86</p>
            <input [(ngModel)]="ip">
            <button (click)="onSaveIP()"> Save</button>
        </div>
    </div>
</div>
















