<ion-content>
  <section class="wrapper">
    <div class="gray">
      <header>
        <h1>Identify Yourself Soldier!</h1>
      </header>
      <div class="centerPart">
        <img src="assets/ontarget.png">
        <div class="social">
          <a class="btn">
            <ion-icon name="logo-instagram"></ion-icon>
            <span>instagram</span>
          </a>
          <a class="btn-f">
            <ion-icon name="logo-facebook"></ion-icon>
            <span>facebook</span>
          </a>
        </div>
        <p>OR</p>
        <div class="regular-wrapper">
          <input placeholder="Email">
          <input placeholder="Password">
        </div>
        <p> You Junior Enlisted?! </p>
        <span> Sign Up!</span>
      </div>
    </div>
  </section>
</ion-content>